body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aquamarine;
    min-height: 100vh;
    border:solid;
    margin: 0px;
}
.title{
    text-align: center;
    font-size:60px;
    margin-top: 50px;
}

.second{
    display: flex;
    flex-wrap: wrap-reverse;
    margin-top:100px;
    justify-content: center;
    gap:70px;
}

.options{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pick{
    margin: 10px;
    padding:6px 12px;
}
#colorPicker{
    padding:0px;
    border-radius: 1px;
}

.container{
    min-height: 500px;
    min-width: 500px;
    max-height: 500px;
    max-width: 500px;
    border:solid;
    display:flex;
    margin: 0px 0px 0px 25px;
}

.grid{
    background-color: white;
}

#color{
    height:60px;
    width:60px;
    border: solid;
    border-radius: 40px;
    padding:0;
}
button{
    width:120px;
    border-radius: 4px;
}

.sliderContainer{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.gridValue{
    margin:0px 0px 12px 0px;
}
.slider{
    margin: 0px;
}

.pick:hover{
    background-color: rgb(224, 224, 224);
}